<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.record_dang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordDang">
        <activity android:name=".presentation.record.medi.MediActivity"></activity>
        <activity android:name=".presentation.record.blood.BloodActivity" />
        <activity android:name=".presentation.record.exercise.ExerciseActivity" />
        <activity android:name=".presentation.record.food.FoodBeforeActivity" />
        <activity android:name=".presentation.record.food.FoodAfterActivity" />
        <activity android:name=".presentation.record.food.FoodABActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.RecordDang.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>